* { box-sizing: border-box;}

html {
    font-size: 14px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}
/* ========== HEADER STYLES ========== */
.main-header {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100vw;
    background: #dc4c3e;
}

.main-header p {
    color: #ffffff;
    margin-right: 20px;
}

.main-header > img {
    height: 25px;
}

#textbox {
    padding-left: 10px;
}

#search-icon {
    position: absolute;
    height: 25px;
    padding-left: 5px;
    padding-top: 5px
}

#textbox > input {
    height: 30px;
    width: 200px;
    background: #e16f65;
    border: none;
    padding-left: 30px;
}

#textbox > input::placeholder {
    color: #ffffff;
}

#menu-icon {
    padding-left: 60px;
}

#check-icon {
    margin-left: auto;
    padding-right: 5px;
}

/* ========== NAVIGATION STYLES ========== */
.sidebar {
  display: flex;
  flex-direction: column;           
  justify-content: flex-start;
  height: 100vh;
  width: 300px;
  flex: 0 0 300px;
  background: #fefbf2;
}

.nav-list {
    list-style-type: none;
}

.nav-list li {
    display: flex;
    align-items: center;
    height: 40px;
}

.nav-list p {
    display: inline;
    font-size: 12px;
    color: #7e7d79;
    padding-left: 5px;
    padding-top: 3px;
}

.nav-list img {
    padding-right: 10px;
}


/* ========== MAIN CONTENT STYLES ========== */
.main-content {
    display: flex;
    width: 100vw;
    overflow-x: clip;
}

.main-content h1 {
    font-size: 20px;
    padding: 20px 0 0 40px;
}

#filter {
    margin-left: 40px;
}

#filter h4 {
    margin-bottom: 10px;
}

#filter button {
    background: transparent;
    border: 1px solid #7e7d79;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 5px;
    padding: 4px 10px;
    min-width: 100px;
}

#filter button.active {
    background: #e16f65;
    color: #ffffff;
}

.task-list {
    list-style-type: none;
    width: 83vw;
    padding: 0 40px;
}

#add-task-textbox {
    width: 25vw;
    margin-left: 40px;
}

.task-list p {
    display: inline;
    padding-left: 5px;
}

.task-list li {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #c4c4c4;
}

.task-list button {
    margin-left: auto;
}

.task-checkbox {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 1px solid #7e7d79;
    border-radius: 50%;
    flex: 0 0 15px;
    cursor: pointer;
    /* the next two properties overwrite default checkbox styling */
    appearance: none;
    -webkit-appearance: none;
}

.task-checkbox-completed {
    width: 15px;
    height: 15px;
    background-color: #e16f65;
    border: 1px solid #7e7d79;
    border-radius: 50%;
    flex: 0 0 15px;
    cursor: pointer;
    /* the next two properties overwrite default checkbox styling */
    appearance: none;
    -webkit-appearance: none;
}



/* ========== RESPONSIVE STYLES ========== */
@media (max-width: 480px) {
    .sidebar {
        display: none;
    }
}